<!DOCTYPE html>
<html lang="af">
<head>
    <meta charset="UTF-8">
    <title>Resultaat</title>
    <meta http-equiv="refresh" content="3;url=/">
    <style>
        body { font-family: sans-serif; text-align: center; font-size: 1.5em; padding-top: 50px; }
        .correct { color: green; }
        .incorrect { color: red; }
        a { font-size: 0.8em; }
    </style>
</head>
<body>
    {% if is_correct %}
        <h1 class="correct">Reg! Mooi so! 🥳</h1>
    {% else %}
        <h1 class="incorrect">Verkeerd.</h1>
        <p>Jy het '{{ user_guess }}' geraai.</p>
        <p>Die regte antwoord is '<b>{{ correct_word }}</b>'.</p>
    {% endif %}
    <br>
    <a href="/">Volgende woord...</a>
</body>
</html>
